#include "skeleton64.dtsi"

/ {
	compatible = "nexell,s5p6818";
	
	aliases {
		serial0 = &uart0;
	};
	
	cpus {
		#address-cells = <2>;
		#size-cells = <0>;
		
		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
				core2 {
					cpu = <&cpu2>;
				};
				core3 {
					cpu = <&cpu3>;
				};
			};
			cluster1 {
				core0 {
					cpu = <&cpu4>;
				};
				core1 {
					cpu = <&cpu5>;
				};
				core2 {
					cpu = <&cpu6>;
				};
				core3 {
					cpu = <&cpu7>;
				};
			};
		};
	};
	
	uart0: serial@c00a1000 {
		reg = <0x0 0xc00a1000 0x0 0x3c>;
		id = <0>;
		compatible = "nexell,s5p6818-uart";
		status = "disabled";
	};
};

